.promo{
    background: rgb(127,183,137);
    background: linear-gradient(350deg, rgba(127,183,137,1) 0%, rgba(48,48,48,1) 35%);
}
.promo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
    padding: 330px 0px;
}

.promo-title{
    font-size: 110px;
    font-weight: 700;
}
.promo-title span{
    color: #7fb789;
}
.promo-prof{
    font-size: 65px;
    font-weight: 300;
}
.promo-prof span{
    color: #7fb789;
}
.promo-img{
    overflow: hidden;
    border: 10px solid #7fb789;
    max-width: 500px;
    max-height: 500px;
    border-radius: 100%;
}